{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "loose": true,
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "experimental": {
      "plugins": [
        [ "swc-plugin-inferno", {} ]
      ]
    }
  }
}
